black~=22.10
coverage~=6.5
flake8~=5.0
flake8-bugbear~=22.10
flake8-docstrings~=1.6
flake8-isort~=5.0
flake8-quotes~=3.3
mypy~=0.991
pre-commit~=2.20
pylint~=2.15
pylint-pydantic~=0.1.4
pytest~=7.2
pytest-cov~=4.0
unify~=0.5

# Dev requirements first in case something fails
-r requirements.txt
